a {
    
    display: inline;
    margin: 4px 10%;

}

h1, p {

    margin: 12px;

}

header {

    background-color: palevioletred;

}

div h1 {

    text-align: center;
    display: inline-block;

}

div mat-checkbox {

    text-align: right;
    display: inline-block;

}