<app-header></app-header>

<section>

    <h2> Home! </h2>

    <!--

    <p> options = {{ getOptions() }} </p>

    <p> personality = {{ getOptionWithName(getOptionNames()[0]) }} </p>

    <p> relationships = {{ getOption(1) }} </p>

    <p> transformation = {{ getOption(2) }} </p>

    -->

    <h3> Select game options </h3>

    <div class="form-check" *ngFor="let optionName of getOptionNames(); index as i">
        <mat-checkbox (change)="setOption(i)" [checked]="getOption(i)">
            {{ i }} - {{ optionName }}
        </mat-checkbox> 
    </div>

    <mat-form-field>
        <mat-label>Scenario : </mat-label>
        <mat-select [(value)]="select" (selectionChange)="setSelect(select)">
            <mat-option value="termina"> Fear & Hunger 2 : Termina </mat-option>
            <mat-option value="copa"> Corpse Party </mat-option>
        </mat-select>
    </mat-form-field>

    <p id="output"></p>

    <p> You selected: {{getSelect()}} </p>

    <a routerLink="/scenario"> Edit scenario </a>

    <div>
        <button mat-stroked-button type="button" (click)="playGame()"> Play game with current configuration </button> 
    </div>

</section>

<app-footer></app-footer>